@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
body {
    font-family: sans-serif,arial;
    color: black;
    background-color: #D8BFD8;
    padding: inherit;
}
.page{
     max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 40px;
    border: 4px solid #000;
    background-color:   #EE82EE;
    border-radius: 25px; 
    padding-top: 10px;
}
.border{
    font-family: Croissant One,cursive;
    font-size: 20px;
    max-width: 80px;
    min-width: 710px;
    margin: 0px auto 20px auto;
    padding: 20px;
    border: 4px solid #000;
    background-color: floralwhite;
    border-radius: 25px; 
    padding-top: 10px;
}
h1{
    margin: 0px auto 0px auto;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    letter-spacing: 1px; 
    font-family: Croissant One, cursive;
    font-weight: bold;
}

.header{
    text-align: center;
    width: fit-content;
    margin: 10px auto 10px auto;
}
p{
   margin: 0px auto 0px auto;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    letter-spacing: 1px; 
    font-family: Croissant One, cursive;
    font-weight: bold;
}
p.intro{
    margin: 20px auto 20px auto;
    margin-left: 30px;
    margin-right: 50px;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    padding: 10px;
}

ul{
    margin-left: 25px;
}

li {
    list-style-image: url(icon-plus.png)
    display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    line-height: 1.6em;
    text-align: center;
    letter-spacing: 1px;
}

table {
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
     border-radius: 5px; 
  
}

.logo{
    overflow-clip-margin: content-box;
    overflow: clip;
    transform: translateY(100px);
    float: left;
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    max-height: 20%;
}
        
th, td {
    text-align: left;
    background-color:           #FFF0F5;
    border-top: 1px solid   #FA8072;
    
}

tr.head th {
    color: #fff;
    background-color:   #000;
    border-bottom: 2px solid #000;
    border-right: 1px solid #749ae;
    border-top: 1px solid   #F0FFF0;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #e8eff5;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    margin-left: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

legend {
    font-style: italic;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,
select:focus,
input[type="radio"]:checked {
    border-color: #009966;
}

input[type="submit"] {
    background-color: #009966;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #00CC33;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    margin-left: 280px;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }
    h1 {
        font-size: 24px;
    }
    p1.intro {
        font-size: 18px;
    }
    table {
        font-size: 80%;
    }
    th, td {
        padding: 3px 10px;
    }
    input[type="text"] {
        width: 100%;
    }
    .title {
        float: none;
        width: auto;
        clear: none;
    }
    .submit {
        width: auto;
        text-align: left;
    }
}
